DatPhongKhachSanWeb/Service References/VatTuServiceReference/ServiceVatTu.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceVatTu" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:7429/ServiceVatTu.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:7429/ServiceVatTu.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:7429/ServiceVatTu.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceQuanLyKhachSan" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceVatTu_CountListvVT_InputMessage">
    <wsdl:part name="parameters" element="tns:CountListvVT" />
  </wsdl:message>
  <wsdl:message name="IServiceVatTu_CountListvVT_OutputMessage">
    <wsdl:part name="parameters" element="tns:CountListvVTResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceVatTu_getListVatTuAll_InputMessage">
    <wsdl:part name="parameters" element="tns:getListVatTuAll" />
  </wsdl:message>
  <wsdl:message name="IServiceVatTu_getListVatTuAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:getListVatTuAllResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceVatTu_getListVatTuLMAll_InputMessage">
    <wsdl:part name="parameters" element="tns:getListVatTuLMAll" />
  </wsdl:message>
  <wsdl:message name="IServiceVatTu_getListVatTuLMAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:getListVatTuLMAllResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceVatTu_getVatTuByID_InputMessage">
    <wsdl:part name="parameters" element="tns:getVatTuByID" />
  </wsdl:message>
  <wsdl:message name="IServiceVatTu_getVatTuByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:getVatTuByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceVatTu_getListVatTuByName_InputMessage">
    <wsdl:part name="parameters" element="tns:getListVatTuByName" />
  </wsdl:message>
  <wsdl:message name="IServiceVatTu_getListVatTuByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:getListVatTuByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceVatTu_getLikeVatTuByID_InputMessage">
    <wsdl:part name="parameters" element="tns:getLikeVatTuByID" />
  </wsdl:message>
  <wsdl:message name="IServiceVatTu_getLikeVatTuByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:getLikeVatTuByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceVatTu_getListLikeVatTuByName_InputMessage">
    <wsdl:part name="parameters" element="tns:getListLikeVatTuByName" />
  </wsdl:message>
  <wsdl:message name="IServiceVatTu_getListLikeVatTuByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:getListLikeVatTuByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceVatTu_insertVatTu_InputMessage">
    <wsdl:part name="parameters" element="tns:insertVatTu" />
  </wsdl:message>
  <wsdl:message name="IServiceVatTu_insertVatTu_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertVatTuResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceVatTu_deleteVatTu_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteVatTu" />
  </wsdl:message>
  <wsdl:message name="IServiceVatTu_deleteVatTu_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteVatTuResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceVatTu_updateVatTu_InputMessage">
    <wsdl:part name="parameters" element="tns:updateVatTu" />
  </wsdl:message>
  <wsdl:message name="IServiceVatTu_updateVatTu_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateVatTuResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceVatTu">
    <wsdl:operation name="CountListvVT">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceVatTu/CountListvVT" message="tns:IServiceVatTu_CountListvVT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceVatTu/CountListvVTResponse" message="tns:IServiceVatTu_CountListvVT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getListVatTuAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceVatTu/getListVatTuAll" message="tns:IServiceVatTu_getListVatTuAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceVatTu/getListVatTuAllResponse" message="tns:IServiceVatTu_getListVatTuAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getListVatTuLMAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceVatTu/getListVatTuLMAll" message="tns:IServiceVatTu_getListVatTuLMAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceVatTu/getListVatTuLMAllResponse" message="tns:IServiceVatTu_getListVatTuLMAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getVatTuByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceVatTu/getVatTuByID" message="tns:IServiceVatTu_getVatTuByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceVatTu/getVatTuByIDResponse" message="tns:IServiceVatTu_getVatTuByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getListVatTuByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceVatTu/getListVatTuByName" message="tns:IServiceVatTu_getListVatTuByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceVatTu/getListVatTuByNameResponse" message="tns:IServiceVatTu_getListVatTuByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getLikeVatTuByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceVatTu/getLikeVatTuByID" message="tns:IServiceVatTu_getLikeVatTuByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceVatTu/getLikeVatTuByIDResponse" message="tns:IServiceVatTu_getLikeVatTuByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getListLikeVatTuByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceVatTu/getListLikeVatTuByName" message="tns:IServiceVatTu_getListLikeVatTuByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceVatTu/getListLikeVatTuByNameResponse" message="tns:IServiceVatTu_getListLikeVatTuByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertVatTu">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceVatTu/insertVatTu" message="tns:IServiceVatTu_insertVatTu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceVatTu/insertVatTuResponse" message="tns:IServiceVatTu_insertVatTu_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteVatTu">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceVatTu/deleteVatTu" message="tns:IServiceVatTu_deleteVatTu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceVatTu/deleteVatTuResponse" message="tns:IServiceVatTu_deleteVatTu_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateVatTu">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceVatTu/updateVatTu" message="tns:IServiceVatTu_updateVatTu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceVatTu/updateVatTuResponse" message="tns:IServiceVatTu_updateVatTu_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceVatTu" type="tns:IServiceVatTu">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CountListvVT">
      <soap:operation soapAction="http://tempuri.org/IServiceVatTu/CountListvVT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getListVatTuAll">
      <soap:operation soapAction="http://tempuri.org/IServiceVatTu/getListVatTuAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getListVatTuLMAll">
      <soap:operation soapAction="http://tempuri.org/IServiceVatTu/getListVatTuLMAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVatTuByID">
      <soap:operation soapAction="http://tempuri.org/IServiceVatTu/getVatTuByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getListVatTuByName">
      <soap:operation soapAction="http://tempuri.org/IServiceVatTu/getListVatTuByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLikeVatTuByID">
      <soap:operation soapAction="http://tempuri.org/IServiceVatTu/getLikeVatTuByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getListLikeVatTuByName">
      <soap:operation soapAction="http://tempuri.org/IServiceVatTu/getListLikeVatTuByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertVatTu">
      <soap:operation soapAction="http://tempuri.org/IServiceVatTu/insertVatTu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteVatTu">
      <soap:operation soapAction="http://tempuri.org/IServiceVatTu/deleteVatTu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateVatTu">
      <soap:operation soapAction="http://tempuri.org/IServiceVatTu/updateVatTu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceVatTu">
    <wsdl:port name="BasicHttpBinding_IServiceVatTu" binding="tns:BasicHttpBinding_IServiceVatTu">
      <soap:address location="http://localhost:7429/ServiceVatTu.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>