DatPhongKhachSanWeb/Service References/ChiTietPhongServiceReference/ServiceChiTietPhong.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceChiTietPhong" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:7429/ServiceChiTietPhong.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:7429/ServiceChiTietPhong.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:7429/ServiceChiTietPhong.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceQuanLyKhachSan" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceChiTietPhong_getListChiTietPhongAll_InputMessage">
    <wsdl:part name="parameters" element="tns:getListChiTietPhongAll" />
  </wsdl:message>
  <wsdl:message name="IServiceChiTietPhong_getListChiTietPhongAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:getListChiTietPhongAllResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceChiTietPhong_getListChiTietPhongById_InputMessage">
    <wsdl:part name="parameters" element="tns:getListChiTietPhongById" />
  </wsdl:message>
  <wsdl:message name="IServiceChiTietPhong_getListChiTietPhongById_OutputMessage">
    <wsdl:part name="parameters" element="tns:getListChiTietPhongByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceChiTietPhong">
    <wsdl:operation name="getListChiTietPhongAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceChiTietPhong/getListChiTietPhongAll" message="tns:IServiceChiTietPhong_getListChiTietPhongAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceChiTietPhong/getListChiTietPhongAllResponse" message="tns:IServiceChiTietPhong_getListChiTietPhongAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getListChiTietPhongById">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceChiTietPhong/getListChiTietPhongById" message="tns:IServiceChiTietPhong_getListChiTietPhongById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceChiTietPhong/getListChiTietPhongByIdResponse" message="tns:IServiceChiTietPhong_getListChiTietPhongById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceChiTietPhong" type="tns:IServiceChiTietPhong">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getListChiTietPhongAll">
      <soap:operation soapAction="http://tempuri.org/IServiceChiTietPhong/getListChiTietPhongAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getListChiTietPhongById">
      <soap:operation soapAction="http://tempuri.org/IServiceChiTietPhong/getListChiTietPhongById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceChiTietPhong">
    <wsdl:port name="BasicHttpBinding_IServiceChiTietPhong" binding="tns:BasicHttpBinding_IServiceChiTietPhong">
      <soap:address location="http://localhost:7429/ServiceChiTietPhong.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>