WCF_QuanLyKhachSanForm/Service References/ServiceReferencePhieuThuePhong/ServicePhieuThuePhong1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceQuanLyKhachSan" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceQuanLyKhachSan" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPhieuThuePhongDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PhieuThuePhongDTO" nillable="true" type="tns:PhieuThuePhongDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPhieuThuePhongDTO" nillable="true" type="tns:ArrayOfPhieuThuePhongDTO" />
  <xs:complexType name="PhieuThuePhongDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Maphieudat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Maphieuthue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PhieuThuePhongDTO" nillable="true" type="tns:PhieuThuePhongDTO" />
</xs:schema>