WCF_QuanLyKhachSanForm/Service References/ServiceReferencePhieuThuePhong/ServicePhieuThuePhong.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7429/ServicePhieuThuePhong.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceQuanLyKhachSan" />
  <xs:element name="CountListPTP">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CountListPTPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CountListPTPResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListPhieuThuePhongAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getListPhieuThuePhongAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServiceQuanLyKhachSan" minOccurs="0" name="getListPhieuThuePhongAllResult" nillable="true" type="q1:ArrayOfPhieuThuePhongDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListPhieuThuePhongLMAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="a" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListPhieuThuePhongLMAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfServiceQuanLyKhachSan" minOccurs="0" name="getListPhieuThuePhongLMAllResult" nillable="true" type="q2:ArrayOfPhieuThuePhongDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPhieuThuePhongByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPhieuThuePhongByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfServiceQuanLyKhachSan" minOccurs="0" name="getPhieuThuePhongByIDResult" nillable="true" type="q3:PhieuThuePhongDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListPhieuThuePhongByMaPhieuDat">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListPhieuThuePhongByMaPhieuDatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfServiceQuanLyKhachSan" minOccurs="0" name="getListPhieuThuePhongByMaPhieuDatResult" nillable="true" type="q4:ArrayOfPhieuThuePhongDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLikePhieuThuePhongByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLikePhieuThuePhongByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfServiceQuanLyKhachSan" minOccurs="0" name="getLikePhieuThuePhongByIDResult" nillable="true" type="q5:ArrayOfPhieuThuePhongDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListLikePhieuThuePhongByMaPhieuDat">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListLikePhieuThuePhongByMaPhieuDatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WcfServiceQuanLyKhachSan" minOccurs="0" name="getListLikePhieuThuePhongByMaPhieuDatResult" nillable="true" type="q6:ArrayOfPhieuThuePhongDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertPhieuThuePhong">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WcfServiceQuanLyKhachSan" minOccurs="0" name="ptpDTO" nillable="true" type="q7:PhieuThuePhongDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertPhieuThuePhongResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertPhieuThuePhongResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deletePhieuThuePhong">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDPhieuThuePhong" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deletePhieuThuePhongResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deletePhieuThuePhongResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updatePhieuThuePhong">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WcfServiceQuanLyKhachSan" minOccurs="0" name="ptpDTO" nillable="true" type="q8:PhieuThuePhongDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updatePhieuThuePhongResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updatePhieuThuePhongResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>