WCF_QuanLyKhachSanForm/Service References/ServiceReferenceKiemTraPhong/ServiceKiemTraPhong2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7429/ServiceKiemTraPhong.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceQuanLyKhachSan" />
  <xs:element name="KiemTraPhong">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ngayden" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ngaydi" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KiemTraPhongResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServiceQuanLyKhachSan" minOccurs="0" name="KiemTraPhongResult" nillable="true" type="q1:ArrayOfKiemTraPhongDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>