WCF_QuanLyKhachSanForm/Service References/ServiceReferenceChiTietDatPhong/ServiceChiTietDatPhong1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7429/ServiceChiTietDatPhong.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceQuanLyKhachSan" />
  <xs:element name="CountListctdp">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CountListctdpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CountListctdpResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListChiTietDatPhongAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getListChiTietDatPhongAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServiceQuanLyKhachSan" minOccurs="0" name="getListChiTietDatPhongAllResult" nillable="true" type="q1:ArrayOfChiTietDatPhongDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListChiTietDatPhongLMAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="a" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListChiTietDatPhongLMAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfServiceQuanLyKhachSan" minOccurs="0" name="getListChiTietDatPhongLMAllResult" nillable="true" type="q2:ArrayOfChiTietDatPhongDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getChiTietDatPhongByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getChiTietDatPhongByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfServiceQuanLyKhachSan" minOccurs="0" name="getChiTietDatPhongByIDResult" nillable="true" type="q3:ArrayOfChiTietDatPhongDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListChiTietDatPhongByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListChiTietDatPhongByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfServiceQuanLyKhachSan" minOccurs="0" name="getListChiTietDatPhongByNameResult" nillable="true" type="q4:ArrayOfChiTietDatPhongDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLikeChiTietDatPhongByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLikeChiTietDatPhongByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfServiceQuanLyKhachSan" minOccurs="0" name="getLikeChiTietDatPhongByIDResult" nillable="true" type="q5:ArrayOfChiTietDatPhongDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListLikeChiTietDatPhongByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListLikeChiTietDatPhongByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WcfServiceQuanLyKhachSan" minOccurs="0" name="getListLikeChiTietDatPhongByNameResult" nillable="true" type="q6:ArrayOfChiTietDatPhongDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertChiTietDatPhong">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WcfServiceQuanLyKhachSan" minOccurs="0" name="ctdpDTO" nillable="true" type="q7:ChiTietDatPhongDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertChiTietDatPhongResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertChiTietDatPhongResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteChiTietDatPhong">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDChiTietDatPhong" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteChiTietDatPhongResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteChiTietDatPhongResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateChiTietDatPhong">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WcfServiceQuanLyKhachSan" minOccurs="0" name="ctdpDTO" nillable="true" type="q8:ChiTietDatPhongDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateChiTietDatPhongResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateChiTietDatPhongResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>