DatPhongKhachSanWeb/Service References/HeThongServiceReference/ServiceHeThong2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceQuanLyKhachSan" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceQuanLyKhachSan" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfHeThongDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HeThongDTO" nillable="true" type="tns:HeThongDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHeThongDTO" nillable="true" type="tns:ArrayOfHeThongDTO" />
  <xs:complexType name="HeThongDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Manhanvien" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HeThongDTO" nillable="true" type="tns:HeThongDTO" />
</xs:schema>