DatPhongKhachSanWeb/Service References/HeThongServiceReference/ServiceHeThong1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7429/ServiceHeThong.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceQuanLyKhachSan" />
  <xs:element name="CountListHT">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CountListHTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CountListHTResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListHethongAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getListHethongAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServiceQuanLyKhachSan" minOccurs="0" name="getListHethongAllResult" nillable="true" type="q1:ArrayOfHeThongDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListHethongLMAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="a" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListHethongLMAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfServiceQuanLyKhachSan" minOccurs="0" name="getListHethongLMAllResult" nillable="true" type="q2:ArrayOfHeThongDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getHeThongByUserName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getHeThongByUserNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfServiceQuanLyKhachSan" minOccurs="0" name="getHeThongByUserNameResult" nillable="true" type="q3:HeThongDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListHeThongByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListHeThongByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfServiceQuanLyKhachSan" minOccurs="0" name="getListHeThongByIDResult" nillable="true" type="q4:HeThongDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLikeHeThongByUserName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLikeHeThongByUserNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfServiceQuanLyKhachSan" minOccurs="0" name="getLikeHeThongByUserNameResult" nillable="true" type="q5:ArrayOfHeThongDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListLikeHeThongByMaNV">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListLikeHeThongByMaNVResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WcfServiceQuanLyKhachSan" minOccurs="0" name="getListLikeHeThongByMaNVResult" nillable="true" type="q6:ArrayOfHeThongDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertHeThong">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WcfServiceQuanLyKhachSan" minOccurs="0" name="htDTO" nillable="true" type="q7:HeThongDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertHeThongResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertHeThongResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteHeThong">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDHethong" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteHeThongResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteHeThongResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateHeThong">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WcfServiceQuanLyKhachSan" minOccurs="0" name="htDTO" nillable="true" type="q8:HeThongDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateHeThongResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateHeThongResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>