WCF_QuanLyKhachSanForm/Service References/ServiceReferenceNhanVien/ServiceNhanVien2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceQuanLyKhachSan" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceQuanLyKhachSan" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfNhanVienDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NhanVienDTO" nillable="true" type="tns:NhanVienDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNhanVienDTO" nillable="true" type="tns:ArrayOfNhanVienDTO" />
  <xs:complexType name="NhanVienDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Chucvu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Diachi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Manhanvien" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ngaysinh" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Phai" type="xs:boolean" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tennhanvien" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NhanVienDTO" nillable="true" type="tns:NhanVienDTO" />
</xs:schema>