WCF_QuanLyKhachSanForm/Service References/ServiceReferenceChiTietThuePhong/ServiceChiTietThuePhong1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7429/ServiceChiTietThuePhong.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceQuanLyKhachSan" />
  <xs:element name="CountListcttp">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CountListcttpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CountListcttpResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListChiTietThuePhongAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getListChiTietThuePhongAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServiceQuanLyKhachSan" minOccurs="0" name="getListChiTietThuePhongAllResult" nillable="true" type="q1:ArrayOfChiTietThuePhongDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListChiTietThuePhongLMAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="a" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListChiTietThuePhongLMAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfServiceQuanLyKhachSan" minOccurs="0" name="getListChiTietThuePhongLMAllResult" nillable="true" type="q2:ArrayOfChiTietThuePhongDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getChiTietThuePhongByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getChiTietThuePhongByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfServiceQuanLyKhachSan" minOccurs="0" name="getChiTietThuePhongByIDResult" nillable="true" type="q3:ArrayOfChiTietThuePhongDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListChiTietThuePhongByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListChiTietThuePhongByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfServiceQuanLyKhachSan" minOccurs="0" name="getListChiTietThuePhongByNameResult" nillable="true" type="q4:ArrayOfChiTietThuePhongDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLikeChiTietThuePhongByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLikeChiTietThuePhongByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfServiceQuanLyKhachSan" minOccurs="0" name="getLikeChiTietThuePhongByIDResult" nillable="true" type="q5:ArrayOfChiTietThuePhongDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListLikeChiTietThuePhongByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListLikeChiTietThuePhongByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WcfServiceQuanLyKhachSan" minOccurs="0" name="getListLikeChiTietThuePhongByNameResult" nillable="true" type="q6:ArrayOfChiTietThuePhongDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertChiTietThuePhong">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WcfServiceQuanLyKhachSan" minOccurs="0" name="cttpDTO" nillable="true" type="q7:ChiTietThuePhongDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertChiTietThuePhongResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertChiTietThuePhongResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteChiTietThuePhong">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDChiTietThuePhong" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="maphong" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ngay" type="xs:dateTime" />
        <xs:element minOccurs="0" name="madichvu" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteChiTietThuePhongResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteChiTietThuePhongResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateChiTietThuePhong">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WcfServiceQuanLyKhachSan" minOccurs="0" name="cttpDTO" nillable="true" type="q8:ChiTietThuePhongDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateChiTietThuePhongResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateChiTietThuePhongResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>