WCF_QuanLyKhachSanForm/Web References/localhost/ServiceLogin.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfLoginDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LoginDTO" nillable="true" type="tns:LoginDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLoginDTO" nillable="true" type="tns:ArrayOfLoginDTO" />
  <xs:complexType name="LoginDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChucVu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaNV" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TenNV" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoginDTO" nillable="true" type="tns:LoginDTO" />
</xs:schema>