WCF_QuanLyKhachSanForm/Service References/ServiceReferenceHoaDon/ServiceHoaDon.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceQuanLyKhachSan" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceQuanLyKhachSan" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfHoaDonDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HoaDonDTO" nillable="true" type="tns:HoaDonDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHoaDonDTO" nillable="true" type="tns:ArrayOfHoaDonDTO" />
  <xs:complexType name="HoaDonDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Mahoadon" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Makhachhang" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Maphieuthue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ngaythanhtoan" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Tongtien" type="xs:decimal" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HoaDonDTO" nillable="true" type="tns:HoaDonDTO" />
</xs:schema>