WCF_QuanLyKhachSanForm/Service References/ServiceReferenceDichVu/ServiceDichVu1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceQuanLyKhachSan" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceQuanLyKhachSan" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDichVuDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DichVuDTO" nillable="true" type="tns:DichVuDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDichVuDTO" nillable="true" type="tns:ArrayOfDichVuDTO" />
  <xs:complexType name="DichVuDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Donvitinh" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gia" type="xs:decimal" />
      <xs:element minOccurs="0" name="Madichvu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tendichvu" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DichVuDTO" nillable="true" type="tns:DichVuDTO" />
</xs:schema>