WCF_QuanLyKhachSanForm/Service References/ServiceReferencePhieuDatPhong/ServicePhieuDatPhong2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceQuanLyKhachSan" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceQuanLyKhachSan" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPhieuDatPhongDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PhieuDatPhongDTO" nillable="true" type="tns:PhieuDatPhongDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPhieuDatPhongDTO" nillable="true" type="tns:ArrayOfPhieuDatPhongDTO" />
  <xs:complexType name="PhieuDatPhongDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Makhachhang" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Maphieudat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ngayden" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Ngaydi" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Songuoi" type="xs:int" />
      <xs:element minOccurs="0" name="Sotiendatcoc" type="xs:decimal" />
      <xs:element minOccurs="0" name="Tinhtrang" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PhieuDatPhongDTO" nillable="true" type="tns:PhieuDatPhongDTO" />
</xs:schema>