WCF_QuanLyKhachSanForm/Service References/ServiceReferenceLoaiPhong/ServiceLoaiPhong.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceQuanLyKhachSan" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceQuanLyKhachSan" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfLoaiPhongDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LoaiPhongDTO" nillable="true" type="tns:LoaiPhongDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLoaiPhongDTO" nillable="true" type="tns:ArrayOfLoaiPhongDTO" />
  <xs:complexType name="LoaiPhongDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Gia" type="xs:decimal" />
      <xs:element minOccurs="0" name="Maloai" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Songuoi" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoaiPhongDTO" nillable="true" type="tns:LoaiPhongDTO" />
</xs:schema>