WCF_QuanLyKhachSanForm/Service References/ServiceReferenceVatTu/ServiceVatTu1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceQuanLyKhachSan" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceQuanLyKhachSan" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfVatTuDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VatTuDTO" nillable="true" type="tns:VatTuDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVatTuDTO" nillable="true" type="tns:ArrayOfVatTuDTO" />
  <xs:complexType name="VatTuDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Mavattu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tenvattu" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VatTuDTO" nillable="true" type="tns:VatTuDTO" />
</xs:schema>