WCF_QuanLyKhachSanForm/Service References/ServiceReferenceVatTu/ServiceVatTu.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7429/ServiceVatTu.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceQuanLyKhachSan" />
  <xs:element name="CountListvVT">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CountListvVTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CountListvVTResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListVatTuAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getListVatTuAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServiceQuanLyKhachSan" minOccurs="0" name="getListVatTuAllResult" nillable="true" type="q1:ArrayOfVatTuDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListVatTuLMAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="a" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListVatTuLMAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfServiceQuanLyKhachSan" minOccurs="0" name="getListVatTuLMAllResult" nillable="true" type="q2:ArrayOfVatTuDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getVatTuByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getVatTuByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfServiceQuanLyKhachSan" minOccurs="0" name="getVatTuByIDResult" nillable="true" type="q3:VatTuDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListVatTuByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListVatTuByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfServiceQuanLyKhachSan" minOccurs="0" name="getListVatTuByNameResult" nillable="true" type="q4:ArrayOfVatTuDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLikeVatTuByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLikeVatTuByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfServiceQuanLyKhachSan" minOccurs="0" name="getLikeVatTuByIDResult" nillable="true" type="q5:ArrayOfVatTuDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListLikeVatTuByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListLikeVatTuByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WcfServiceQuanLyKhachSan" minOccurs="0" name="getListLikeVatTuByNameResult" nillable="true" type="q6:ArrayOfVatTuDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertVatTu">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WcfServiceQuanLyKhachSan" minOccurs="0" name="vtDTO" nillable="true" type="q7:VatTuDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertVatTuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertVatTuResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteVatTu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDVatTu" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteVatTuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteVatTuResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateVatTu">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WcfServiceQuanLyKhachSan" minOccurs="0" name="vtDTO" nillable="true" type="q8:VatTuDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateVatTuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateVatTuResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>