WCF_QuanLyKhachSanForm/Service References/ServiceReferenceChiTietVatTu/ServiceChiTietVatTu1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceQuanLyKhachSan" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceQuanLyKhachSan" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfChiTietVatTuDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ChiTietVatTuDTO" nillable="true" type="tns:ChiTietVatTuDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfChiTietVatTuDTO" nillable="true" type="tns:ArrayOfChiTietVatTuDTO" />
  <xs:complexType name="ChiTietVatTuDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Maloaiphong" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mavattu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Soluong" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChiTietVatTuDTO" nillable="true" type="tns:ChiTietVatTuDTO" />
</xs:schema>