DatPhongKhachSanWeb/Service References/PhongServiceReference/ServicePhong.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceQuanLyKhachSan" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceQuanLyKhachSan" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPhongDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PhongDTO" nillable="true" type="tns:PhongDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPhongDTO" nillable="true" type="tns:ArrayOfPhongDTO" />
  <xs:complexType name="PhongDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Dadat" type="xs:boolean" />
      <xs:element minOccurs="0" name="Danhan" type="xs:boolean" />
      <xs:element minOccurs="0" name="Maloai" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Maphong" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PhongDTO" nillable="true" type="tns:PhongDTO" />
</xs:schema>