WCF_QuanLyKhachSanForm/Service References/ServiceReferenceInHoaDonDichVu/ServiceInHoaDonDichVu2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceQuanLyKhachSan" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceQuanLyKhachSan" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfInHoaDonDichVuDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InHoaDonDichVuDTO" nillable="true" type="tns:InHoaDonDichVuDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInHoaDonDichVuDTO" nillable="true" type="tns:ArrayOfInHoaDonDichVuDTO" />
  <xs:complexType name="InHoaDonDichVuDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Donvitinh" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gia" type="xs:decimal" />
      <xs:element minOccurs="0" name="MaPhong" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mahoadon" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Maphieuthue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ngay" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Soluong" type="xs:int" />
      <xs:element minOccurs="0" name="Tendichvu" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InHoaDonDichVuDTO" nillable="true" type="tns:InHoaDonDichVuDTO" />
</xs:schema>