WCF_QuanLyKhachSanForm/Service References/ServiceReferenceInHoaDonPhong/ServiceInHoaDonPhong1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7429/ServiceInHoaDonPhong.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceQuanLyKhachSan" />
  <xs:element name="InHoaDonPhong">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mahoadon" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InHoaDonPhongResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServiceQuanLyKhachSan" minOccurs="0" name="InHoaDonPhongResult" nillable="true" type="q1:ArrayOfInHoaDonPhongDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>