WCF_QuanLyKhachSanForm/Service References/ServiceReferenceInHoaDonPhong/ServiceInHoaDonPhong2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceQuanLyKhachSan" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceQuanLyKhachSan" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfInHoaDonPhongDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InHoaDonPhongDTO" nillable="true" type="tns:InHoaDonPhongDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInHoaDonPhongDTO" nillable="true" type="tns:ArrayOfInHoaDonPhongDTO" />
  <xs:complexType name="InHoaDonPhongDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CMND" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Diachi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gia" type="xs:decimal" />
      <xs:element minOccurs="0" name="Mahoadon" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Maphong" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ngayden" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Ngaydi" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Pass" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sodienthoai" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Songayo" type="xs:int" />
      <xs:element minOccurs="0" name="Sotiendatcoc" type="xs:decimal" />
      <xs:element minOccurs="0" name="Tenkhachhang" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tennhanvien" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tongtien" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InHoaDonPhongDTO" nillable="true" type="tns:InHoaDonPhongDTO" />
</xs:schema>