WCF_QuanLyKhachSanForm/Service References/ServiceReferenceKhachHang/ServiceKhachHang.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7429/ServiceKhachHang.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceQuanLyKhachSan" />
  <xs:element name="CountListKH">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CountListKHResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CountListKHResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListKhachHangAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getListKhachHangAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServiceQuanLyKhachSan" minOccurs="0" name="getListKhachHangAllResult" nillable="true" type="q1:ArrayOfKhachHangDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListKhachHangLMAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="a" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListKhachHangLMAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfServiceQuanLyKhachSan" minOccurs="0" name="getListKhachHangLMAllResult" nillable="true" type="q2:ArrayOfKhachHangDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getKhachHangByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getKhachHangByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfServiceQuanLyKhachSan" minOccurs="0" name="getKhachHangByIDResult" nillable="true" type="q3:KhachHangDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListKhachHangByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListKhachHangByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfServiceQuanLyKhachSan" minOccurs="0" name="getListKhachHangByNameResult" nillable="true" type="q4:ArrayOfKhachHangDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLikeKhachHangByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLikeKhachHangByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfServiceQuanLyKhachSan" minOccurs="0" name="getLikeKhachHangByIDResult" nillable="true" type="q5:ArrayOfKhachHangDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListLikeKhachHangByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListLikeKhachHangByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WcfServiceQuanLyKhachSan" minOccurs="0" name="getListLikeKhachHangByNameResult" nillable="true" type="q6:ArrayOfKhachHangDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertKhachHang">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WcfServiceQuanLyKhachSan" minOccurs="0" name="khDTO" nillable="true" type="q7:KhachHangDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertKhachHangResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertKhachHangResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteKhachHang">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDKhachHang" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteKhachHangResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteKhachHangResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateKhachHang">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WcfServiceQuanLyKhachSan" minOccurs="0" name="khDTO" nillable="true" type="q8:KhachHangDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateKhachHangResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateKhachHangResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>