DatPhongKhachSanWeb/Service References/ChiTietVatTuServiceReference/ServiceChiTietVatTu2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7429/ServiceChiTietVatTu.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceQuanLyKhachSan" />
  <xs:element name="CountListctvt">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CountListctvtResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CountListctvtResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListChiTietVatTuAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getListChiTietVatTuAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServiceQuanLyKhachSan" minOccurs="0" name="getListChiTietVatTuAllResult" nillable="true" type="q1:ArrayOfChiTietVatTuDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListChiTietVatTuLMAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="a" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListChiTietVatTuLMAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfServiceQuanLyKhachSan" minOccurs="0" name="getListChiTietVatTuLMAllResult" nillable="true" type="q2:ArrayOfChiTietVatTuDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getChiTietVatTuByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getChiTietVatTuByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfServiceQuanLyKhachSan" minOccurs="0" name="getChiTietVatTuByIDResult" nillable="true" type="q3:ChiTietVatTuDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListChiTietVatTuByMaLP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListChiTietVatTuByMaLPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfServiceQuanLyKhachSan" minOccurs="0" name="getListChiTietVatTuByMaLPResult" nillable="true" type="q4:ArrayOfChiTietVatTuDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLikeChiTietVatTuByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLikeChiTietVatTuByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfServiceQuanLyKhachSan" minOccurs="0" name="getLikeChiTietVatTuByIDResult" nillable="true" type="q5:ArrayOfChiTietVatTuDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListLikeChiTietVatTuByMaLP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListLikeChiTietVatTuByMaLPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WcfServiceQuanLyKhachSan" minOccurs="0" name="getListLikeChiTietVatTuByMaLPResult" nillable="true" type="q6:ArrayOfChiTietVatTuDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertChiTietVatTu">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WcfServiceQuanLyKhachSan" minOccurs="0" name="ctvtDTO" nillable="true" type="q7:ChiTietVatTuDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertChiTietVatTuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertChiTietVatTuResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteChiTietVatTu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDNhactvtien" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idPhong" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteChiTietVatTuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteChiTietVatTuResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateChiTietVatTu">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WcfServiceQuanLyKhachSan" minOccurs="0" name="ctvtDTO" nillable="true" type="q8:ChiTietVatTuDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateChiTietVatTuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateChiTietVatTuResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>